body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
/*=====header=====*/
.header {
  background-color: aqua;
}

.header-name {
  padding-top: 20px;
}
/*----- cruise------*/

/*.container {
  width: 360px;
  margin-left: 8px;
}*/

.nav-list {
  display: flex;
  gap: 18px;
  justify-content: center;
  padding-top: 14px;
}

.cruise {
  padding-top: 20px;
}

.task-cruise {
  padding-top: 20px;
  padding-bottom: 25px;
}

.cruise-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  border: #434455;
}

.cruise-item {
  border: 1px solid #8e8f99;
  border-radius: 8px;
  width: 360px;
}
