body {
  font-family: Playwrite GB S, sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.2;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* margin-top: 0;
  margin-bottom: 0;*/
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
/*=====header=====*/
.header {
  background-color: aqua;
}

.header-name {
  padding-top: 20px;
}

.header-nav {
  margin-right: 1.5em;
}
.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-name {
  margin-left: 1.3em;
}

.nav-list {
  display: flex;
  gap: 18px;
  justify-content: center;
  padding-top: 14px;
}

.nav-item:hover {
  text-decoration: underline;
}
/*----- cruise------*/

.container {
  width: 1000px;
  /* margin-left: 8px; */
  margin: auto;
}

.cruise {
  padding-top: 20px;
  background-color: rgba(99, 243, 254, 0.2);
}

.cruise-title {
  color: aqua;
  text-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.task-cruise {
  padding-top: 20px;
  padding-bottom: 25px;
  color: #ffffff;
}

.cruise-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  border: #434455;
  justify-content: space-evenly;
  padding-bottom: 15px;
  align-items: stretch;
}

.cruise-item {
  background: white;
  overflow: hidden;
  border: 1px solid #8e8f99;
  border-radius: 8px;
  width: 360px;
  object-fit: fill;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

/*------children-------*/
.children-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  border: #434455;
  justify-content: center;
}

.children-item {
  overflow: hidden;
  border: 1px solid #8e8f99;
  border-radius: 8px;
  width: 360px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
